# Default owner (team lead / architecture)
* @henrikeskkula

# Repo governance
/.github/ @henrikeskkula

# Backend
/backend/ @M-Sirelbu @henrikeskkula

# Frontend
/frontend/ @marinaraid @IngeRi92

# Database
/database/ @IngeRi92 @henrikeskkula

# Documentation
/docs/architecture.md @henrikeskkula
/docs/ @marinaraid
/README.md @marinaraid