<h1>Looma sündmused</h1>

<div *ngIf="error" style="color: red;">{{ error }}</div>

<h2>Loo sündmus</h2>

<div>
  <label>Tüüp</label><br>
  <select [(ngModel)]="model.type">
    <option *ngFor="let option of eventTypeOptions" [value]="option">
      {{ petEventTypeLabel(option) }}
    </option>
  </select>
</div>

<div>
  <label>Kirjeldus</label><br>
  <input [(ngModel)]="model.description" />
</div>

<div>
  <label>Aeg</label><br>
  <input [(ngModel)]="model.time" placeholder="2025-11-13T14:28:39" />
</div>

<br>
<button (click)="createEvent()">Loo sündmus</button>

<hr>

<h2>Sündmuste nimekiri</h2>

<table *ngIf="events.length" border="1" cellpadding="8">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tüüp</th>
      <th>Aeg</th>
      <th>Roll</th>
      <th>Kirjeldus</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td>{{ event.id }}</td>
      <td>{{ petEventTypeLabel(event.type) }}</td>
      <td>{{ event.time }}</td>
      <td>{{ event.performedByRole }}</td>
      <td>{{ event.description }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="!events.length">Sündmusi ei leitud.</div>