<h2>Add new pet</h2>

<form (ngSubmit)="submit()">
  <div>
    <label>Microchip ID</label>
    <input
      type="number"
      [(ngModel)]="pet.microchipId"
      name="microchipId"
      required
    />
  </div>

  <div>
    <label>Name</label>
    <input [(ngModel)]="pet.name" name="name" />
  </div>

  <div>
    <label>Species</label>
    <select [(ngModel)]="pet.species" name="species">
      <option value="DOG">DOG</option>
      <option value="CAT">CAT</option>
      <option value="FERRET">FERRET</option>
    </select>
  </div>

  <div>
    <label>Sex</label>
    <select [(ngModel)]="pet.sex" name="sex">
      <option value="MALE">MALE</option>
      <option value="FEMALE">FEMALE</option>
      <option value="UNKNOWN">UNKNOWN</option>
    </select>
  </div>

  <div>
    <label>Status</label>
    <select [(ngModel)]="pet.status" name="status">
      <option value="ACTIVE">ACTIVE</option>
      <option value="MISSING">MISSING</option>
      <option value="DECEASED">DECEASED</option>
      <option value="ABROAD">ABROAD</option>
    </select>
  </div>

  <button type="submit">Create pet</button>
</form>